<%= simple_form_for @flat, html: { class: 'container' } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Flat Name", class: "form-label" %>
    <%= f.input_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address, "Address", class: "form-label" %>
    <%= f.input_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description", class: "form-label" %>
    <%= f.input_field :description, class: "form-control", rows: 4 %>
  </div>

  <div class="form-group">
    <%= f.label :price_per_night, "Price per Night", class: "form-label" %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">£</span>
      </div>
      <%= f.input_field :price_per_night, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :number_of_guests, "Number of Guests", class: "form-label" %>
    <div class="input-group d-flex align-items-center">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-users"></i></span>
      </div>
      <%= f.input_field :number_of_guests, class: "form-control" %>
    </div>
  </div>

  <div class="form-group mt-4">
    <%= f.submit form_action, class: "btn btn-primary" %>
    <%= link_to "Cancel", flats_path, class: "btn btn-danger ml-3" %>
  </div>
<% end %>
